{{#each this}}
<li class="container-items" id="{{id}}">
          
            <ul class="container-title-list">
            <li>
                <svg class="table-row-svg" viewBox="{{viewBox}}">
                <path d="{{pathD}}"></path>
                </svg>
            </li>
            <li>{{category}}</li>
            <li class="is-activ-item">{{isActiv}}</li>
            <li >{{isArchiv}}</li>
            </ul>
   
</li>
{{/each}}

